<nav class="navbar navbar navbar-dark bg-primary navbar-expand-lg rounded">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#" [class.active]="aba == 'home'" (click)="aba = 'home'">
          Home
        </a>

        <a class="nav-link" href="#" [class.active]="aba == 'features'" (click)="aba = 'features'">
          Features
        </a>

        <a class="nav-link" href="#" [class.active]="aba == 'pricing'" (click)="aba = 'pricing'">
          Pricing
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="container" [ngSwitch]="aba">
<!--  <p *ngSwitchCase="'home'">Modo Home ativado</p>-->
  <p *ngSwitchCase="'features'">Modo Features ativado</p>
  <p *ngSwitchCase="'pricing'">Modo Pricing ativado</p>
  <p *ngSwitchDefault>Home</p>
</div>
