<div class="container">
  <!--<app-ng-if></app-ng-if>-->
  <!--<app-ng-switch></app-ng-switch>-->
  <!--<app-ng-for></app-ng-for>-->
  <!--<app-ng-class></app-ng-class>-->
  <!--<app-ng-style></app-ng-style>-->
  <!--<app-ng-elvis></app-ng-elvis>-->

  <!--<app-ng-content>
    <span class="titulo">Titulo passado pelo ngContent</span>
    <p class="corpo">
      Debet fabulas solet splendide inani elementum. Cursus interdum saperet inimicus urna aliquid. Reprehendunt
      sollicitudin posidonium diam sadipscing. Mediocritatem consectetur congue melius laoreet solum legimus omittantur
      quaeque tamquam. Aliquip cu suspendisse mazim posse eam equidem laoreet.
    </p>
    <p class="corpo">
      Delenit lorem movet liber eloquentiam epicurei sale dolore disputationi. Fuisset erroribus suas elit ligula oporteat. Id comprehensam facilisis proin nominavi suscipit tacimates pericula. Alienum feugait dicta recteque vim. Dis est vulputate rhoncus has sumo vero constituam his iaculis.
    </p>
  </app-ng-content>-->

  <app-custom></app-custom>
</div>
